[advisories]
version = 2
db-path = "~/.cargo/advisory-db"
db-urls = ["https://github.com/rustsec/advisory-db"]
yanked = "deny"

[licenses]
version = 2
# We want to set a high confidence threshold for license detection.
confidence-threshold = 1.0
# Licenses that are allowed to be used in crates.
allow = [
  # Permissive licenses
  "Apache-2.0",
  "BSD-2-Clause",
  "MIT",
  "Unicode-3.0",
]

[bans]
# Lint level for when multiple versions of the same crate are detected
multiple-versions = "deny"
# Certain crates/versions that will be skipped when doing duplicate detection.
skip = [
  { name = "windows-sys", version = "^0.60" },
]

[sources]
unknown-registry = "deny"
unknown-git = "deny"
